<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Local CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- External CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Local scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/poll.js"></script>

</head>

<body>
  <!-- Nav Bar -->
  <nav class="nav-bar">
    <h1 class="header">Make a Decision</h1>
  </nav>
  <main>
    <form id="poll-form">
      <div class="form-group"></div>
      <section class="create-poll-form">
        <div class="form-group">
          <label name="question">Ask your question: </label>
          <input class="form-control" id="question" name="question" type="text" placeholder="Question" autocomplete="off">
          <small id="questionHelp" class="form-text text-muted">What would you like to ask?</small>
        </div>

        <div class="form-group">
          <label name="description">Description: </label>
          <input class="form-control" id="description" name="description" type="text" placeholder="Description"
            autocomplete="off">
           <small id="descriptionHelp" class="form-text text-muted">Provide some brief description to your question</small>
        </div>

        <div class="form-group">
          <label name="option">Enter your options:</label>
          <input class="form-control option" id="option1" name="option1" type="text" placeholder="Option 1" />
        </div>
        <div class="form-group">
          <input class="form-control option" type="text" placeholder="Option 2"/>
        </div>
        <div class="form-group">
          <input class="form-control option" type="text" placeholder="Option 3"/>
        </div>

        <div class="add-option-div">
          <button type="button" class="add-option btn btn-default btn-xs">Add another option</button>
        </div>
      </section>

      <section class="add-email-form">
        <div class="form-group">
          <label for="email">Enter your email:</label>
          <input class="form-control" id="email" name="email" type="email" placeholder="Email address" autocomplete="off">
        </div>
      </section>


      <div class="submit-button">
        <button type="submit" class="btn btn-success">Make a decision</button>
      </div>
    </form>
  </main>


</body>

</html>
