<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <nav>
    <div class="nav">
      <div>
        <h2>Decision Maker</h2>
      </div>
    </div>
  </nav>
<header>
  <div class="header">
    <h1>Results!</h1>
  </div>
</header>
<main>
<!-- templateVars(title, options, descript) -->
<!-- poll: {
  title: 'q',
  description: 'q',
  options: [ { ranking: 1, name: 'q', points: undefined } ] -->

  <table class="results-table">
    <thead>
      <td>Option</td>
      <td>Ranking</td>
    </thead>
    <tr>
      <td>winning option</td>
      <td>winning option rank (1)</td>
    </tr>
    <tr>
      <td>2nd option</td>
      <td>option rank (2nd)</td>
    </tr>
    <tr>
      <td>3rd option</td>
      <td>option rank (3rd)</td>
    </tr>
  </table>
</main>

</body>

</html>
