@import 'variables';
.nav-title{
display: flex;
color: rgb(55, 54, 34);
// background-color: rgb(205, 150, 196);
// background-image: url(https://www.transparenttextures.com/patterns/light-wool.png);
height: 13vw;
width: 100%;
z-index: 100;
padding-left: 1em;
position: relative;
top: 0.1em;
}
.title {
  color: rgb(9, 10, 10);
}

