@import 'variables';
.header {
display: flex;
color: rgb(72, 66, 66);
top: auto;
background-color: rgb(205, 150, 196);
background-image: url(https://www.transparenttextures.com/patterns/light-wool.png);
height: 13vw;
width: 100%;
z-index: 100;
}
.tittle {
  color: rgb(9, 10, 10);
}

