@import 'variables';
.header {
display: flex;
color: rgb(237, 100, 100);
top: auto;
background-color: hsla(71, 16%, 80%, 0.876);
background-image: url(https://www.transparenttextures.com/patterns/light-wool.png);
height: 13vw;
width: 100%;
z-index: 100;
}

button {
  font-family: 'Black Ops One', cursive;
  color: rgb(8, 1, 39) ;
  background-color:transparent;
  border: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
