@import 'variables';

body {
  margin-top: 15vw;
  background-color: gold(255, 255, 255, 0.64);
  display: flex;
  flex-direction: column;
  font-family: 'Bungee', cursive;
  width: 100%;
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=1380&t=st=1669345891~exp=1669346491~hmac=1db95a6774a55fc50f56cbdbcc65a4bc91be4df9e58f8af4e6a37aff63d94cab);

  h1 {
    color: #949b9d;
  }
}

