@import 'variables';

.main {
  display: $display;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: yellow(241, 241, 241);
  margin: 20px;
}

.container {
  background-color: $primary-colour;
  padding: 1rem;
  margin: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: $secondary-colour;
  border: 1px, solid $tertiary-colour;
  cursor: move;
}

.draggable.dragging{
  opacity: 0.5;
}
