@import 'variables';

nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 2em;
  font-family: 'Monoton', cursive;
  font-size: x-large;
  width: 100%;
  background-color: rgb(205, 150, 196)
}

